<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.dante.girls"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--
        android:configChanges="screenSize|orientation"
        -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".picture.ViewerActivity"
            android:theme="@style/ViewerTheme.TransNav"/>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/activity_settings"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".lib.PopupDialogActivity"
                  android:theme="@style/Translucent"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>

        </provider>
    </application>

</manifest>